# Recommended bazel settings for working with J2CL.
#
# Copied from https://github.com/google/j2cl/blob/master/.bazelrc since Bazel
# doesn't support referring to .bazelrc from different workspaces.
build --watchfs
build --spawn_strategy=local
build --strategy=J2cl=worker
build --strategy=Closure=worker

# Avoid the problem where build fails with:
# //:compiler_unshaded.publish: $(COMPILER_VERSION) not defined.
build --define=COMPILER_VERSION=1.0-SNAPSHOT

# Setting for running in remote CI
build --color=yes
