# Recommended bazel settings for working with J2CL.
#
# Copied from https://github.com/google/j2cl/blob/master/.bazelrc since Bazel
# doesn't support referring to .bazelrc from different workspaces.
common --watchfs
common --spawn_strategy=local
common --strategy=J2cl=worker
common --strategy=Closure=worker

# Avoid the problem where build fails with:
# //:compiler_unshaded.publish: $(COMPILER_VERSION) not defined.
common --define=COMPILER_VERSION=1.0-SNAPSHOT

# Setting for running in remote CI
common --color=yes

# Enable Java 21
common --java_runtime_version=21
common --java_language_version=21
common --tool_java_language_version=21
common --tool_java_runtime_version=21

common --test_output=errors
