build/
dependency-reduced-pom.xml
TESTS-TestSuites.xml
junit*.properties
target/
*~
.checkstyle
.settings
.classpath
.project
/bin
/yarn.lock
/node_modules
/.metadata/

# Bazel stuff
/bazel-bin
/bazel-closure-compiler
/bazel-out
/bazel-testlogs