language: java
jdk:
  - openjdk7
  - oraclejdk8

cache:
  directories:
  - $HOME/.m2

# Skip the "installation" step:
# https://docs.travis-ci.com/user/customizing-the-build#Skipping-the-Installation-Step
install: true

script:
  - mvn install --batch-mode
  - mvn javadoc:javadoc

sudo: required

notifications:
  email: false
