language: java
jdk:
  - oraclejdk8

cache:
  directories:
  - $HOME/.m2

# Skip the "installation" step:
# https://docs.travis-ci.com/user/customizing-the-build#Skipping-the-Installation-Step
install: true

script:
  # Builds the compiler and runs tests
  - mvn -Dstyle.color=always install
  - node test/gwt.js
  # Checks for JavaDoc errors
  - mvn -Dstyle.color=always -pl com.google.javascript:closure-compiler javadoc:javadoc

# Causes the build to run on a VM instead of in a container, to avoid OOM errors.
sudo: required

after_success:
  - travis_util/deploy_snapshot.sh

env:
  global:
    # Force maven to use colorized output
    - MAVEN_OPTS="-Djansi.force=true"
    # CI_DEPLOY_USERNAME
    - secure: "U2O3l6+TOz+3pxxsFdl/T+ktgGixfJO1Fc9pNC75v/N08lfNmyB+ee1wz0E8q7SZvnNR9D6KfLCFzjq0sS5F9FGrfKbFDTPxyaz/4EwTk0fdvPzaKhs8xl6LPVlLw6vLRIWc8PPCIVqqbYAbG6JA8liBPGbBXD/LXmCFbSr0rLg="
    # CI_DEPLOY_PASSWORD
    - secure: "Qq9mvv8z7X3iGlpp4zlGIAOOZodSw9fw0JylT7gKRXyMEarYLHoBXoNnb6seTxExRKuvSGo8UTvqLA4rg2+qWIulLYZJ0LZRcLOwfIomI5v7COQ5XX+NllDf1Oop+5Bpbo3ka0Xp9iQSA3xpw35bfTfCFJpIV1/d7WiOHofZoqc="

notifications:
  email: false
